.border {
    border: 4px solid black;
    margin: 10px;


}

.borderR {
    border-radius: 10px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fwrap {
    flex-wrap: wrap;
}

.bgSilver {
    background-color: silver;
}

.block_A {
    max-width: 100%;
    height: 150px;
    margin: 5px;

}



.w397 {
    width: 402px;
}

.h200 {
    height: 200px;
}


.block_B {
    margin-right: 5px;
    margin-bottom: 5px;
}

.block_C {
    margin-right: 5px;
    margin-bottom: 5px;
}

.block_D {
    margin-bottom: 5px;

}

.block_E {
    margin-bottom: 5px;
    margin-right: 5px;
}

.block_F {
    margin-bottom: 5px;
    margin-right: 5px;
}

.block_G {
    margin-bottom: 5px;

}

.block_H {
    height: 400px;
    width: 530px;
    margin-right: 5px;

}
