.border {
    border: 4px solid black;
    margin: 10px;
    max-width: 1473px;


}

.borderR {
    border-radius: 10px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fwrap {
    flex-wrap: wrap;
}

.bgSilver {
    background-color: silver;
}

.block_A {
    max-width: 1463px;
    height: 150px;
    margin: 5px;

}


.w393 {
    width: 393px;
}

.h200 {
    height: 200px;
}

.Mr {
    margin-right: 5px;
}

.Mb {
    margin-bottom: 5px;
}

.Ml {
    margin-left: 4px;
}


.block_H {
    height: 405px;
    width: 535px;

}

@media screen and (min-width: 768px) and (max-width: 992px) {

    .block_A{
       margin: 30px;
        height: 100px;

    }
    .sevenBlocks{
        display: flex;
        flex-direction: column;
    }
    .block_B,.block_C,.block_D,.block_E,.block_F,.block_G{
        width: 150px;
        height: 150px;
        margin: 5px;

    }

    .block_H{
        width: 93%;
        height: 100px;
        margin: 30px;
    }
    .sixBlocks{
       display: flex;
       /*width: 628px;*/
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 10px;
        column-gap: 170px;
    }
}

/* як зробити так щоб B C D E F G розтягнулись повністю? */
/*Зробив через геп но хз чи правильно*/